<button (click)="snapchatLogin()" id="testbutton">Snapchat Login</button>
<!-- <button
  class="class1 class2 snapchat-share-button"
  data-share-url="https://kit.snapchat.com/">
  Share on Snapchat
</button> -->

<!-- <i [innerHTML]="icons['dashboard'] | safeHtml"></i>
<span [innerHTML]="icons['bookings'] | safeHtml"></span>

<span [innerHTML]="icons['riders'] | safeHtml"></span>
<span [innerHTML]="icons['dispatchers'] | safeHtml"></span>
<span [innerHTML]="icons['drivers'] | safeHtml"></span>
<span [innerHTML]="icons['requests'] | safeHtml"></span> -->


<!-- <div id=”my-login-button-target”></div>
<img id=’bitmoji’/>
<div id=’display_name’>Welcome!</div> -->