#my-login-button-target {
    left: 5%;
    padding: 50px;
    position: absolute;
}

#bitmoji {
    right: 5%;
    padding: 50px;
    position: absolute;
}

#display_name {
    padding-top: 25px;
    font-size: 30px;
}
